@import './styles/variables.scss';

.app {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: $bg-primary;
    color: $text-primary;
    overflow: hidden;
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
}